body {
  background-color: #28323d;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
}

h1{
  /* background-color: #f1f1f1; */ 
  margin-left: 50px;
  color: #f8f8f8;
  font-family: fantasy;
  /* padding: 20; */
  /* margin-top: 0; */
} 



h3{
  /* background-color: #f1f1f1; */ 
  /* text-align: left; */
  color: #f8f8f8;
  margin-left: 210px;
  font-size: 20px;
  /* padding: 20; */
  /* margin-top: 0; */
} 


img#img {

  width: 500px; 
  height: 300px;
  border-radius: 8px;
  margin-left: 500px;
  margin-top: 0px;
}

output{

  width: 500px; 
  height: 300px;
  margin-top: 30px;
  border-radius: 8px;
}


input#files{
display:None

}

input#files + label{
  background-color: #4d8cf2;
  padding: 8px;
  color: #f1f1f1;
  border: 2px solid #9ec3ff;
  border-radius: 9px;
  margin-left: 670;
  /* margin-top: 60px;  */
  
  }

input#files + label:hover{
  background-color: #2e6ed4;
  transform: scale(1.1);
  transform: .5s;
}  


.files{

    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.predd{
    text-align: center;
    color: white;
    margin-left: 500px;
    font-size: large;
    margin-bottom: 0px;
    margin-top: 0px;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}

img#img1 {
  margin-left: 150px;
  margin-top: 35px;
  width: 500px;
  height: 300px;
  border-radius: 8px;
}

img#img3 {
display: None;
width: 0px;
height: 0px;
}

h2{
  /* background-color: #f1f1f1; */ 
  margin-left: 60px;
  color: #f8f8f8;
  margin-top: 115px;
  margin-bottom: 0px;
  font-size: 25px;
  font-weight: bold;
  /* padding: 20; */
  /* margin-top: 0; */
} 
